html, body {
  height: auto; /* Permite que el contenido determine la altura */
  overflow-y: auto; /* Habilita el scroll si el contenido es más largo */
}

.alarm-list-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  //margin-left: -230px; /* Posicionar para alinear con el texto */
  margin-top: 10px; /* Ajusta la distancia desde el header */
}
.empty-state {
  max-width: 500px;

}

.mat-table {
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 20px; /* Espacio entre tablas */
}


mat-chip {
  font-weight: bold;
  color: white;
}

.priority {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Tamaño y posición de los íconos */
.priority-icon {
  width: 16px;
  height: 16px;
}

/* Estilos específicos por prioridad */
.priority-icon-alta {
  fill: #BA1A1A;
}

.priority-icon-media {
  fill: #71B177;
}

.priority-icon-baja {
  fill: #1D6586;
}

/* El texto de la prioridad se mantiene sin color */
.priority-text {
  color: inherit;
}

.new-alarm-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.day-label {
  text-align: left;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px; /* Aumentamos espacio entre el título y la tabla */
  margin-top: 40px; /* Mayor separación entre secciones */
}

.table-wrapper {
  margin-bottom: 20px; /* Agregar separación */
}

.content {
  flex-grow: 1; /* Asegura que el contenido crezca según lo necesario */
  width: 100%;
}

/* Alternar colores entre filas */
.alarm-row:nth-child(even) td {
  background-color: white !important; /* Azul claro */
}

.alarm-row:nth-child(odd) td {
  background-color: #e3f2fd !important; /* Blanco */
}


/* Ajusta el padding y los bordes para que se vea más limpio */
.mat-cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Separa las tablas con un margen */
.mat-table {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px !important; /* Forzar el margen */
  display: block; /* Asegurar que respeta el margen */
}

/* Agregar margen adicional si es necesario */
table + .day-header {
  margin-top: 60px !important;
}

.avatar-img {
  width: 40px;  /* Tamaño del avatar */
  height: 40px;
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover;
  border: 2px solid #ccc;
}

.day-header {
  display: flex;
  justify-content: space-between; /* Separa el título y el botón */
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Espacio entre el encabezado y la tabla */
}

.day-header button {
  white-space: nowrap; /* Evita que el texto se divida en dos líneas */
  padding: 8px 16px; /* Ajusta el relleno para mayor espacio */
  min-width: 120px; /* Asegura un ancho mínimo suficiente */
  display: flex;
  justify-content: center;
  align-items: center;
}

