<div class="alarm-list-container">
  <div *ngIf="contenido === 'vacio'" class="empty-state">
    <h5>Lista de Alarmas</h5>
    <p>Bienvenido Pedro, haz clic en el botón <button mat-raised-button color="primary" routerLink="/nueva-alarma-tipo">Nueva Alarma</button> para crear tu primera alarma!</p>
  </div>

  <div *ngIf="contenido === 'lleno'">
    <h5>Lista de Alarmas</h5>
    <div class="day-header">
      <p class="day-label">Hoy</p>
      <button mat-raised-button color="primary" routerLink="/nueva-alarma-tipo">Nueva Alarma</button>
    </div>

    <div class="table-wrapper">
    <table mat-table [dataSource]="alarmsToday" class="mat-elevation-z8">

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Prioridad </th>
        <td mat-cell *matCellDef="let alarm">
          <div class="priority">
            <!-- Ícono de Prioridad -->
            <svg class="priority-icon"
                 [ngClass]="{
                   'priority-icon-alta': alarm.priority === 'Alta',
                   'priority-icon-media': alarm.priority === 'Media',
                   'priority-icon-baja': alarm.priority === 'Baja'
                 }"
                 viewBox="0 0 24 24">
              <polygon *ngIf="alarm.priority === 'Alta'" points="12,2 22,22 2,22"></polygon>
              <polygon *ngIf="alarm.priority === 'Media'" points="12,2 22,12 12,22 2,12"></polygon>
              <polygon *ngIf="alarm.priority === 'Baja'" points="2,2 22,2 12,22"></polygon>
            </svg>

            <!-- Texto de la prioridad -->
            <span class="priority-text">{{ alarm.priority }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let alarm">
          <img [src]="alarm.avatar" class="avatar-img" alt="Avatar de {{ alarm.owner }}">
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.description }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.time }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let alarm">
          <button mat-icon-button><mat-icon>visibility</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="alarm-row"></tr>
    </table>
  </div>

    <p class="day-label">Mañana</p>

    <div class="table-wrapper">
    <table mat-table [dataSource]="alarmsTomorrow" class="mat-elevation-z8">

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Prioridad </th>
        <td mat-cell *matCellDef="let alarm">
          <div class="priority">
            <!-- Ícono de Prioridad -->
            <svg class="priority-icon"
                 [ngClass]="{
                   'priority-icon-alta': alarm.priority === 'Alta',
                   'priority-icon-media': alarm.priority === 'Media',
                   'priority-icon-baja': alarm.priority === 'Baja'
                 }"
                 viewBox="0 0 24 24">
              <polygon *ngIf="alarm.priority === 'Alta'" points="12,2 22,22 2,22"></polygon>
              <polygon *ngIf="alarm.priority === 'Media'" points="12,2 22,12 12,22 2,12"></polygon>
              <polygon *ngIf="alarm.priority === 'Baja'" points="2,2 22,2 12,22"></polygon>
            </svg>

            <!-- Texto de la prioridad -->
            <span class="priority-text">{{ alarm.priority }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> Propietario </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.owner }}</td>
      </ng-container>
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let alarm">
          <img [src]="alarm.avatar" class="avatar-img" alt="Avatar de {{ alarm.owner }}">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.description }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.time }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let alarm">
          <button mat-icon-button><mat-icon>visibility</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="alarm-row"></tr>
    </table>
  </div>

    <p class="day-label">Proximamente</p>
    <div class="table-wrapper">
    <table mat-table [dataSource]="alarmsCommingSoon" class="mat-elevation-z8">

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Prioridad </th>
        <td mat-cell *matCellDef="let alarm">
          <div class="priority">
            <!-- Ícono de Prioridad -->
            <svg class="priority-icon"
                 [ngClass]="{
                   'priority-icon-alta': alarm.priority === 'Alta',
                   'priority-icon-media': alarm.priority === 'Media',
                   'priority-icon-baja': alarm.priority === 'Baja'
                 }"
                 viewBox="0 0 24 24">
              <polygon *ngIf="alarm.priority === 'Alta'" points="12,2 22,22 2,22"></polygon>
              <polygon *ngIf="alarm.priority === 'Media'" points="12,2 22,12 12,22 2,12"></polygon>
              <polygon *ngIf="alarm.priority === 'Baja'" points="2,2 22,2 12,22"></polygon>
            </svg>

            <!-- Texto de la prioridad -->
            <span class="priority-text">{{ alarm.priority }}</span>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let alarm">
          <img [src]="alarm.avatar" class="avatar-img" alt="Avatar de {{ alarm.owner }}">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.description }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let alarm">{{ alarm.time }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let alarm">
          <button mat-icon-button><mat-icon>visibility</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="alarm-row"></tr>
    </table>
    </div>

  </div>
</div>
