.nueva-alarma-container {
  text-align: center;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
  }

  .alarm-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }

  .alarm-option {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: #f5f5f5;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      background: #e0e0e0;
    }

    .mat-icon {
      width: 60px; /* Ancho del icono */
      height: 60px; /* Altura del icono */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 10px auto; /* Centrado */
    }

    .icon-person {
      font-size: 50px !important; /* Tamaño del icono */
      color: #007bff; /* Azul */
    }

    .icon-contacts {
      font-size: 70px !important; /* Tamaño del icono */
      color: #28a745; /* Verde */
    }

    .alarm-description {
      color: #6c757d; /* Gris tenue */
      font-size: 14px; /* Tamaño más pequeño para menos peso visual */
    }


  }
}
